[Unit]
Description=bhosscautostart
After=network-online.target
Wants=network-online.target systemd-networkd-wait-online.service

StartLimitIntervalSec=500
StartLimitBurst=5

[Service]
Restart=on-failure
RestartSec=5s

ExecStart=/root/bhossc/runserver.sh

[Install]
WantedBy=multi-user.target
